.top-bar {
  padding-block: 16px;

  @include content-padding-inline-header;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include on-desktop {
    align-items: baseline;
  }

  &__logo {
    height: 32px;

    @include hover (transform, scale(1.2));
  }
}
